PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=8f2749001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-d933c2d8e0f4df33a93996d1e6574c369a9797a7e57402836a1a07b3eb84fea8-DU4Kk7OdjCVnxNzA
SMTP_FROM=8f2749001@smtp-brevo.com

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=anatolii
CLOUDINARY_API_KEY=799573225164444
CLOUDINARY_API_SECRET=hUHCGOfb1SZ5gDeYDJa7cJCaSLY
ENABLE_CLOUDINARY=